\#*
*~
.#*
\#*\#
*.class
.idea
*.iml
.gradle
local.properties
/.DS_Store
build
cli/config.json
cmd/couchbase-cluster/couchbase-cluster
cmd/couchbase-fleet/couchbase-fleet
cmd/update-wrapper/update-wrapper
cmd/sync-gw-cluster/sync-gw-cluster
cmd/sync-gw-config/sync-gw-config
cmd/experiment/experiment
.vagrant