\#*
*~
.#*
\#*\#
*.class
.idea
*.iml
.gradle
local.properties
/.DS_Store
build
cli/config.json
cmd/couchbase-cluster/couchbase-cluster
cmd/couchbase-fleet/couchbase-fleet
cmd/update-wrapper/update-wrapper
